# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# custom
compiler.xml
modules.xml
gradle.xml
jarRepositories.xml
misc.xml
/modules/
/fileTemplates/
file.template.settings.xml
uiDesigner.xml
/dictionaries/
*-plugin.xmlq
